 *,*::before,
*::after {
     box-sizing: inherit;
 }

 body {
 margin: 0;
 padding: 0;
 font-size: 16px;
 line-height: 22px;
 font-family: 'Roboto', 'Arial', sans-serif;
 color: #ffffff;
 background-color: #849d8f;
 box-sizing: border-box;
 }

.container {
  width: 1146px;
  padding: 0 10px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.row li {
  padding: 0 5px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #f26743;
  background-image: -moz-linear-gradient(top, #f26743 0%, #e74035 100%);
  background-image: -webkit-linear-gradient(top, #f26743 0%, #e74035 100%);
  background-image: linear-gradient(to bottom, #f26743 0%, #e74035 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 100px;
  border: none;
  text-decoration: none;
  cursor: pointer;
 }

.btn:hover {
  background-image: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px 0 rgba(172,16,0,0.1);
}

.btn:active {
  background-image: -moz-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background-image: -webkit-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0 2px 2px 0 rgb(148,39,24);
}

.navigation-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 9px;
  margin-left: -19px;
}

.header-logo {
  margin-right: 20px;
}

.user-left {
  margin-left: auto;
  margin-right: -20px;
}

.user-row {
  margin: 0 -5px;
  margin-right: -31px;
  margin-bottom: 12px;
}

.user-row li {
  padding: 0 5px;
}

.user-form {
  display: none;
}

.header-search {
  position: relative;
}

.search-form {
  display: none;
  position: absolute;
  right: -5px;
  top: 38px;
  padding: 15px 17.5px;
  background-color: #f8f7f4;
  border-radius: 3px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 30;
}

.search-form::after {
  position: absolute;
  content: '';
  width: 120px;
  height: 20px;
  top: -20px;
  right: 1px;
  background: transparent;
}

.user-form {
  display: none;
  position: absolute;
  right: 177px;
  top: 51px;
  padding: 20px;
  width: 285px;
  background-color: #f8f7f4;
  border-radius: 3px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.user-form::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 40px;
  top: -20px;
  right: 1px;
  background: transparent;
}

.input-custom {
  padding: 10px 0 9px 11px;
  width: 309px;
  color: #323232;
  font-size: 14px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
 }

.login-field {
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-field:nth-child(2) {
  margin-bottom: 15px;
}

.user-form-row .btn {
  flex-direction: row;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: 600;
  padding: 6px 27px;
}

.user-form-row .btn:focus {
  outline: none;
}

.lost-password {
  font-size: 13px;
  color: #000;
}

.lost-password:hover {
  color: #ec593c;
}

.lost-password:active {
  color: #ec593c;
}

.login-text {
  margin: 0;
  padding: 0;
  display: flex;
}

::-webkit-input-placeholder {
  color:#999999;
}
::-moz-placeholder {
  color:#999999;
}
:-moz-placeholder {
  color:#999999;
}
:-ms-input-placeholder {
  color:#999999;
}

.input-custom:hover {
  border-color: #e6e5e3;
 }

.input-custom:focus {
  border-color: #cfe1f3;
}

.header-search:hover .search-form {
  display: block;
}

.user-block:hover .user-form {
  display: block;
}

.menu-link {
  display: block;
  padding: 7px 10.4px;
  color: #fff;
  text-decoration: underline #b7c6be;
  font-weight: 500;
  font-size: 16px;
}

.menu-link:hover {
  color: #000;
  background: #fff;
  border-radius: 25px;
  font-weight: bold;
}

.menu-link:active {
  background: #ededed;
  box-shadow: inset 0 2px 1px #696969;
 }

.menu > li:hover .drop-down {
  display: block;
}

.menu li {
  position: relative;
}
 
.drop-down {
  width: 143px;
  position: absolute;
  display: none;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  left: -5px;
  list-style-type: none;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 2px;
  z-index: 10;
}

.drop-down::after {
  position: absolute;
  content: '';
  width: 143px;
  height: 20px;
  top: -15px;
  background-color: transparent;
}

.drop-down li {
  padding: 0;
}

.drop-down .new  {
  font-weight: bold;
  border-bottom: 1px solid #d1d0ce;
  padding-bottom: 3px;
  text-decoration: none;
}

.drop-down a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 21px;
}

.drop-down span {
  display: block;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 21px;
  color: #000;
}

.drop-down a:hover {
  background: #fbded7;
}

.drop-down a:active {
  background: #f6b5a5;
}

.drop-down .on-page {
  background: #d07058;
  color: #fff;
}

.new a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.header-search .loupe {
  display: block;
  background-color: #a2b8ac;
  border-radius: 100%;
  padding: 8px;
  padding-bottom: 2px;
}

.header-search .loupe:hover {
  background-color: #fff;
}

.loupe svg:hover path {
  fill: #000;
}

.icon-login .svg-icon-login path {
  fill: #fff;
}

.icon-login .svg-icon-login:hover path {
  fill: #000;
}

.icon-login {
  position: relative;
  display: block;
  color: #ffffff;
  text-decoration: none;
  background-color: #a0b5a9;
  border-radius: 16px;
  padding-top: 6px;
  padding-right: 18px;
  padding-bottom: 6px;
  padding-left: 41px;
  font-size: 14px;
 }

.icon-login:hover {
  background-color: #fff;
  color: #000;
}

 .svg-icon-login {
  position: absolute;
  top: 7px;
  left: 13px;
}

.basket {
  position: relative;
  display: block;
  color: #ffffff;
  text-decoration: none;
  background-color: #a0b5a9;
  border-radius: 16px;
  padding-top: 6px;
  padding-right: 35px;
  padding-bottom: 6px;
  padding-left: 44px;
  font-size: 14px;
}

.basket::after {
  position: absolute;
  content: '';
  width: 21px;
  height: 20px;
  top: 7px;
  left: 13px;
  background: url("../images/basket.svg");
}
.ml-auto {
  display: flex;
  margin-left: auto;
  margin-right: -33px;
  margin-top: 3px;
}

.time-work {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  margin-top: -11px;
  padding-bottom: 3px;
}

.phone-number {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.site-wrapper {
  min-width: 1140px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: 0.5s;
 }

.slider {
  position: relative;
  padding-top: 276px;
  text-align: center;
  color: #fff;
  margin-bottom: 38px;
}

.slider-title {
  width: 660px;
  margin: 0 auto;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 35px;
}

.slide-link {
  display: inline-block;
  color: #ffffff;
  font-size: 31px;
  line-height: 41px;
  background-image: -webkit-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background-image: -moz-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
  border-radius: 100px;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 50px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.slide-link:hover {
  background-image: -webkit-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background-image: -moz-linear-gradient(top, #ed705e 0%, #f26843 100%);
  background-image: linear-gradient(to bottom, #ed705e 0%, #f26843 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.slide-link:active {
  box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

}

body > input[type=radio] {
  display: none;
}

.slide-controls {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.slide-controls label {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 21px;
  height: 21px;
  margin-right: 4px;
  cursor: pointer;
}

.slide {
  display: none;
}

#button-1:checked ~ .site-wrapper label[for=button-1],
#button-2:checked ~ .site-wrapper label[for=button-2],
#button-3:checked ~ .site-wrapper label[for=button-3] {
  background: #ffffff;
}

#button-1:checked ~ .site-wrapper #slide-1,
#button-2:checked ~ .site-wrapper #slide-2,
#button-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#button-1:checked ~ .site-wrapper {
  background: url("../images/slide1.png") no-repeat;
  background-color: #849d8f;
  background-position: top center;
}

#button-2:checked ~ .site-wrapper {
  background: url("../images/slide2.png") no-repeat;
  background-color: #8996a6;
  background-position: top center;
}

#button-3:checked ~ .site-wrapper {
  background: url("../images/slide3.png") no-repeat;
  background-color: #9d8b84;
  background-position: top center;
}

.shares {
  margin-bottom: 40px;
}

.stock-item {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  width: 560px;
  border-radius: 15px;
  background: url("../images/rusbery-background.jpg") no-repeat;
}

.bg-chocolate {
  background: url("../images/chocolate-background.jpg") no-repeat;
}

.stock-title {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
}

.stock-text {
  font-weight: 500;
  font-size: 18px;
  padding-top: 27px;
  padding-bottom: 49px;
  margin: 0;
}

.shares-row {
  justify-content: space-between;
}

.stock-item .btn {
  display: inline-block;
  align-self: flex-end;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  padding: 12px 23px;
}

.stock-item .btn:hover {
  background-image: -webkit-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background-image: -moz-linear-gradient(top, #ed705e 0%, #f26843 100%);
  background-image: linear-gradient(to bottom, #ed705e 0%, #f26843 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.stock-item .btn:active {
   background-image: -moz-linear-gradient(top, #e74a35 0%, #f26843 100%);
   background-image: -webkit-linear-gradient(top, #e74a35 0%, #f26843 100%);
   background-image: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
   box-shadow: inset 0 2px 2px 0 rgb(148,39,24);
}

.type-icecream {
  display: flex;
  flex-direction: row;
}






